# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
# Visual micro and platformio things
**/*.sln
**/*.suo
**/*.vcxproj
**/*.vcxproj.filters
**/Visual*
**/__vm*
**/.pioenvs
**/Release*
**/*.tmp
**/*.asv